* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #FFF;
	background-color: #1e052e;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 24px;
}

p {
	font-size: 5rem;
	text-align: center;
}
