* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #1e1a20;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	position: relative;
	font-family: 'Poppins', sans-serif;
	color: #ffeded;
	text-transform: uppercase;
	font-size: 7vmin;
	padding-left: 10%;
	padding-right: 10%;
}

section>* {
	max-width: 55vw;
}

h1,
h2 {
	white-space: nowrap;
	margin-bottom: 24px;
}

p {
	font-size: 48px;
	text-transform: none;
}

section:nth-child(odd) {
	align-items: flex-end;
}

section:nth-child(odd) p {
	text-align: right;
}

section:nth-child(odd) h2 {
	direction: rtl;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 48px;
	font-size: 64px;
}

a {
	color: #ffeded;
	transition: color 0.2s ease;
}

a:hover,
a:focus {
	color: #d1bebe;
}

@media only screen and (max-width: 1199px) {
	.section {
		font-size: 5vmin;
		padding: 5%;
		height: auto;
		min-height: 100vh;
	}

	section>* {
		max-width: 75vw;
	}

	p {
		font-size: 24px;
	}

	ul {
		font-size: 48px;
		gap: 24px;
	}
}